*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    width: 500px;
}

.cell{
    border: 1px solid #ddd;
    border-radius: 1px;
    background-color: aliceblue;
}

.btn{
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 1rem 2rem;
}